<div class="col-sm-3">
     <figure class="thumbnail featured-thumbnail">
          <a title="{{fields.field_name.content}}" href="#">
               {{fields.field_image.content}}
          </a>
     </figure>
     <h5>
          <a title="{{fields.field_name.content}}" href="#">
               {{fields.field_name.content}}
          </a>
     </h5>
     <p>{{fields.field_position.content}}</p>
</div>