<div class="col-xs-5">
  <div id="logo" class="logo">
    {{fields.field_logo.content}}
  </div>
</div>
<div class="col-xs-7">
  <div class="check">
    <a class="check-btn" href="#" title="Checkout"><b>Checkout</b>
      <i class="material-icons-check"></i>
    </a>
  </div>
  <div class="box-cart">
    <div id="cart" class="cart toggle-wrap">
      <div{{ attributes}}>
        <div class="cart-block--summary toggle">
          <a class="cart-block--link__expand" href="{{ url }}">
            <span class="cart-block--summary__icon">{{ icon }}</span>
            <span class="cart-block--summary__count cart-total2">Cart {{ count }}</span>
          </a>
        </div>
        {% if content %}
        <div class="cart-block--contents">
          <div class="cart-block--contents__inner">
            <div class="cart-block--contents__items">
              {{ content }}
            </div>
            <div class="cart-block--contents__links">
              {{ links }}
            </div>
          </div>
        </div>
        {% endif %}
      </div>
    </div>
</div>
<span class="separator"></span>
<div class="wishlist">
  <a href="#" id="wishlist-total" title="Wish List (0)">
    <i class="material-design-favorite22"></i>
    <span>Wishlist</span>
  </a>
</div>
 