<div class="col-xs-5">
  <div id="logo" class="logo">
    <a href="/node"><img src="/themes/custom/vickie_dean_themes/image/catalog/logo.png"/></a>
  </div>
</div>
<div class="col-xs-7">
  <div class="check">
    <a class="check-btn" href="{{ url }}" title="Checkout"><b>Checkout</b>
      <i class="material-icons-check"></i>
    </a>
  </div>
  <div class="box-cart">
    <div id="cart" class="cart toggle-wrap">
      <div{{ attributes}}>
        <div class="cart-block--summary toggle">
          <a class="cart-block--link__expand" href="{{ url }}">
            <button type="button" data-loading-text="Loading..." class="toggle">
            <i class="material-icons-shopping_cart"></i>
            <strong class="white">Cart</strong>
            <span id="cart-total2" class="cart-total2">{{ count }}</span>
            </button>
          </a>
        </div>
        {% if content %}
        <div class="cart-block--contents">
          <div class="cart-block--contents__inner">
            <div class="cart-block--contents__items">
              {{ content }}
            </div>
            <div class="text-right">
              <a class="cart-remove-btn material-design-visibility1" href="/cart"><span> View Cart</span></a>
              <a class="cart-remove-btn material-design-forward18" href="/checkout"><span>Checkout</span></a>
            </div>
          </div>
        </div>
        {% endif %}
      </div>
    </div>
</div>
<span class="separator"></span>
<div class="wishlist">
  <a href="#" id="wishlist-total" title="Wish List (0)">
    <i class="material-design-favorite22"></i>
    <span>Wishlist</span>
  </a>
</div>
 